<h1>Hello SmartGarden user!</h1>
<p>Unfortunately, we have to notify you that your garden might need attention.</p>
<h3>Potential issues on <%=DateTime.now.strftime("%d. %m. %Y at %k:%M")%> are listed below:</h3>
<ul>
	<%=render partial: "shared/notification_list", :locals => {:grow => @grow, :status => @status} %>
</ul>
<p><%=link_to "Check your garden wherever you are", @grow %> </p>
<p>Your <%=link_to "SmartGarden", root_path %></p>
