<section id="one">
	<div class="container">
		<h2>My Gardens</h2>
		<p>Overview your gardens from here</p>
		<ul>
			<%@grows.each do |grow| %>
				<hr>
				<li><%=link_to grow.name, grow%> <small><%=grow.notifications.not_dismissed.count%> 
				<%="notification".pluralize grow.notifications.not_dismissed.count %> pending</small></li>
			<%end%>
		</ul>
		<h3>Another garden?</h3>
		<%=link_to "Add new Garden", new_grow_path, class: "button special" %>
	</div>
</section>

