<section id="one">
	<div class="container">
		<h2>Your grows</h2>
		<ul>
			<%@grows.each do |grow| %>
				<li><%=link_to grow.name, grow%></li>
			<%end%>
		</ul>
		<h3>Another garden?</h3>
		<%=link_to "Add new Garden", new_grow_path, class: "button special" %>
	</div>
</section>

