<section class="main">
    <section class="promo">
        <div class="wrap">
            <div class="promo-text center">
                <div class="promo-title">My Smart Garden</div>
                <p>Experience new, unobtrusive and easy way to gardening!</p>
                <p><%=link_to "View Demo", index_path, :class => "promo-button"%> &nbsp; <a class="promo-link" href="#">Learn more</a></p>
            </div><!-- promo-text -->
        </div><!-- wrap -->
    </section>
    <section class="simple">
        <div class="wrap">
            <h2>Grow. Discover. Give.</h2>
            <p>To the lovers of our nature, having a garden is not a full time job anymore. You will discover how easy it is to grow, with computer on the watch and while you do other things. You will get instatnt notifications when your garden needs attention, and fun social experience with people who share their experience.</p>
        </div><!-- wrap -->
    </section><!-- simple -->
    <section class="subscribe">
        <div class="wrap">
            <div class="subscribe-title">Subscribe to our newsletter</div>
            <div class="subscribe-form clearfix">
                <form>
                    <input type="email" placeholder="Your email adress" class="subscribe-email">
                    <input type="button" value="Subscribe" class="subscribe-button">
                </form>
            </div><!-- subscribe-form -->
            <div class="subscribe-note">If you want to recieve monthly updates from us just pop your email in promo.pngthe box.<br>We think that spam is for jerks - and jerks we are not.</div>
        </div><!-- wrap -->
    </section><!-- subscribe -->
    <footer>

    </footer>
</section>
