<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<section class="main">
    <section class="promo">
        <div class="container title">
            <header class="major">
                <h2>Smart Garden</h2>
            </header>
            <div class="align-left">
                <h3 class="header">Experience new, unobtrusive and easy way to gardening!</h3>
                <h3>
                <% if user_signed_in? %>
                    <%=link_to "Dashboard", grows_path, :class => "promo-button"%> &nbsp;
                    <%=link_to "Sign out", destroy_user_session_path, :class => "promo-link"%>
                <% else %>
                    <%=link_to "View Demo", index_path, :class => "promo-button"%> &nbsp;
                    <%=link_to "Sign in", new_user_session_path, :class => "promo-link"%>
                <% end %> 
                </h3>
            </div>
        </div><!-- promo-text -->
    </section>
    <section class="simple">
        <div class="wrap">
            <h2>Grow. Discover. Give.</h2>
            <p>To the lovers of our nature, having a garden is not a full time job anymore! <br>You will discover how easy it is to grow, with computer on the watch and while you do other things.<br> You will get instatnt notifications when your garden needs attention, and fun social experience with people who share their experience.</p>
        </div><!-- wrap -->
    </section><!-- simple -->
    <section class="subscribe">
    <div class="container" id="footer2">
    <div class="row">
                    <div class="4u">
                        <h3>Location</h3>
                        <p>Lent<br>2000, Maribor<br>Slovenia</p>
                    </div>
                    <div class="4u">
                        <h3>Around the Web</h3>
                        <ul class="list-inline" >
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="4u">
                        <h3>About</h3>
                        <p>SmartGarden is easy way<br> to grow your garden.</p>
                    </div>
                </div>
            </div>
    </section><!-- subscribe -->
    <footer>
    </footer>
</section>
